html{
  position: relative;
  min-height: 100%;
}
body{
  margin-bottom: 100px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}
.parallax {
  /* The image used */
  background-image: url("./images/joffre.jpeg");

  /* Set a specific height */
  min-height: 100vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#whole-page-container {
  position: relative;
  min-height: 100vh;
  background-color: black;
}

#content-page-container {
  height: 100vh;
  /* padding-bottom: 2.5rem; */
  /* Footer height */
}



/* menu bar */
.list-group a {
  margin-top: 2vh;
  z-index: 4;
}

.sidepanel {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 3;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  z-index: 3;
}


.sidepanel a:hover {
  color: #f1f1f1;
  z-index: 3;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  z-index: 4;
}
/* 
#button-img-container {
  background-color: black;
  position: relative;
  padding: 0px;
  overflow: hidden;
  height: auto;
}

#img-container {
  position: relative;
}

#backgroundImg {
  display: block;
  width: 100vw;
  background-size: contain;
}

#img-container:hover .overlay {
  opacity: 0.8;
} */



.openbtn {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 0px;
  border: none;
  height: 50px;
  width: 150px;
}
.sticky {
  position: fixed;
  top: 8px;
  width:150px;
}
.openbtn:hover {
  background-color: #444;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(127, 139, 143);
}

.text {
  color: white;
  font-size: 4vw;
  position: absolute;
  top: 30%;
  left: 70%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media screen and (min-width: 856px) {
  .below-img-container {
    display: none;
  }
}

.below-img-container {
  text-align: center;
  background-color: black;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

/* about me */

.main-container {
  position: absolute;
  width: 100%;
  height: 87vh;
  margin-top: 60px;
  overflow: scroll;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.time-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.time-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -13px;
}

/* The actual content */
.time-content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

@media screen and (max-width: 600px) {

  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .time-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .time-container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 18px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.contact_container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

@keyframes blink {50% { color: transparent }}
.loader__dot {
  animation: 1s blink infinite;
  font-size: 100px;
  color: white;
  position: absolute;
  z-index: 1000;
  top: 480px;
  right: 10vw;
  }
.loader__dot:nth-child(2) { animation-delay: 200ms; top: 420px;}
.loader__dot:nth-child(3) { animation-delay: 400ms; top: 360px;}
.loader__dot:nth-child(4) { animation-delay: 600ms; top: 300px;}

.inform_text{
  font-style: oblique;
  animation: 2s blink infinite;
  font-size: 30px;
  color: white;
  position: absolute;
  z-index: 100;
  top: 270px;
  right: 8vw;
}
